#include "esb_shared.dtsi"

/ {
    chosen {
        zmk,esb-self = &right;
        zmk,esb-wire = &wire_uart;
    };

    wire_uart: wire_uart {
        compatible = "zephyr,uart-emul";
        status = "okay";
        current-speed = <460800>;
        tx-fifo-size = <4>;
        rx-fifo-size = <256>;
    };
};
