#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/kscan_mock.h>

/ {
    esb_link {
        compatible = "zmk,split-esb";
        base-address = [E7 D3 9A 5C];

        peripherals {
            relay: peripheral_relay {
                pipe = <0>;
                prefix = <0x4B>;
                role = "relay";
            };
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &mt LSHFT A &kp C_VOL_UP
                &none &none
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };

    mock_encoder: mock_encoder {
        compatible = "zmk,sensor-encoder-mock";
        status = "okay";
        event-startup-delay = <100>;
        event-period = <10>;
        events = <18 18 18 18 18>;
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&mock_encoder>;
        triggers-per-rotation = <20>;
    };
};

&kscan {
    /delete-property/ exit-after;
    events = <
        ZMK_MOCK_PRESS(0,0,10)
        ZMK_MOCK_RELEASE(0,0,20)
        ZMK_MOCK_PRESS(0,1,10)
        ZMK_MOCK_RELEASE(0,1,20)
    >;
};
